/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 楷体;
  background-color: #141414;
}

.row,
header,
footer {
  display: block;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  display: block;
  width: 100%;
  padding: 0 1em;
  margin: 0;
  box-sizing: border-box;

  clear: both;
}

div#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(44,44,44, 0.5);
  box-shadow: 0 0 1px rgba(44,44,44, 0.3);
  z-index: 100;
}

div#progress-bar > div#done {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: rgba(255,255,255, 0.5);
}

div#progress-bar > div#break {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 4px;
  width: 1px;
  box-sizing: border-box;
  background-color: #EBEBEB;
}

div#progress-bar > div#break:before,
div#progress-bar > div#break:after {
  display: block;
  content: '';
  position: absolute;
  width: 1px;
  top: -5px;
  height: 14px;
}

div#progress-bar > div#break:before{
  width: 7px;
  right:-3px;
  background:-webkit-radial-gradient(center,ellipse,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 75%);
  background:radial-gradient(ellipse at center,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 75%);
}
div#progress-bar > div#break:after{
  background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0) 100%);
  background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0) 100%);
}

div#main-warpper {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 1;
  /*transition:all .5s ease-in-out;*/
  z-index: 10;
  overflow: visible;
}

div.section {
  display: none;
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  clear: both;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.next {
  display: none;
  margin: 0;
  padding: 0;
}

#step1 {
  display: block;
}

#step28 > div.text > p + p {
  display: none;
}

img.bgimg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  vertical-align: middle;
  z-index: -1;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

div.text {
  position: relative;
  display: block;
  clear: both;
  height: 100%;
  padding: 20% 0;
  box-sizing: border-box;
/*  background-color: rgba(255,255,255, 0.7);
  box-shadow: 0 0 2em 1em rgba(255,255,255, 0.7);
*/}

div.zz > p + p {
  display: none;
}

div.zzz > p + p,
div.zzz > a {
  opacity: 0;
}

div.result {
  display: none;
  height: 100%;
  box-sizing: border-box;
  padding: 20% 0;
}

a.next {
  display: block;
  position: fixed !important;
  bottom: 10%;
  left: 0;
  height: 3em !important;
  line-height: 3em !important;
  padding: 0 3em !important;
  box-sizing: border-box;
}

div.section div.choice > p,
div.section div.result > p,
div.section div.text > p,
div.section div.next > p,
div.section > p {
  font-family:  KaiTi, KaiTi_GB2312, "Microsoft Yahei";
  color: #EBEBEB;
  font-weight: normal;
  text-shadow: 1px 1px 1px #000000;
  margin: 0 1em 0.5em 1em;
  margin-bottom: 0.5em;
  text-align: left;
}

div#step1 > div:first-child {
  position: relative;
  top: 5%;
}

div#step2 > div:first-child {
  position: relative;
  top: 5%;
}

.section > div.text + div.text {
  display: none;
}

form#info {
  position: relative;
  overflow: visible;
  z-index: 1;
}

form#info > div.container {
  position: absolute;
  margin-top: 20%;
  overflow: visible;
}

form#info > div.container > p {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  vertical-align: middle;
}

form#info input[type="text"] {
  display: block;
  height: 2em;
  width: 100%;
  padding: 0.5em 1em;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 0.5em;
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  outline: none;
  font-size: 1em;
  color: #141414;
  line-height: 1em;
  vertical-align: middle;
}

form#info input[type="text"]:focus {
  border: 1px solid #999999;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
     -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
          box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

form#info input[type="text"]:-moz-placeholder {
  color: #333333;
}

form#info input[type="text"]::-moz-placeholder {
  color: #333333;
  opacity: 1;
}

form#info input[type="text"]:-ms-input-placeholder {
  color: #333333;
}

form#info input[type="text"]::-webkit-input-placeholder {
  color: #333333;
}

form#info input[type="radio"] {
  display: none;
  position: absolute;
}

form#info p > label {
  display: block;
  float: left;
  height: 2em;
  width: 50%;
  border-radius: 0.5em 0 0 0.5em;
  border-width:  1px;
  border-style: solid;
  border-color: #BDBDBD;
  background-color: transparent;
  padding: 0 1em;
  box-sizing: border-box;
  white-space: normal;

  -webkit-transition: 0.2s ease-in-out; /* Safari and Chrome */
     -moz-transition: 0.2s ease-in-out; /* Firefox 4 */
       -o-transition: 0.2s ease-in-out; /* Opera */
          transition: 0.2s ease-in-out;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;

  font-size: inherit;
  font-family: inherit;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
}

form#info p > label + label {
  border-radius: 0 0.5em 0.5em 0;
}

form#info label.checked {
  background-color: rgba(144,144,144, 0.5);
  color: #EBEBEB;
}

.clear-both {
  display: block;
  clear: both;
}

div#step2 {
  /*background-color: #EBEBEB;*/
}

div.section a.btn {
  position: relative;
  display: block;
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  background-color: rgba(255,255,255, 0.7);
  color: #141414;
  line-height: 2em;
  padding: 0 2em;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  font-family: "Microsoft Yahei";
  -webkit-transition: all linear 0.2s;
     -moz-transition: all linear 0.2s;
       -o-transition: all linear 0.2s;
          transition: all linear 0.2s;
  cursor: pointer;
  overflow: hidden;
}

div.section a.btn:hover {
  background-color: #555555;
  color: #EBEBEB;
}

div.choice {
  position: relative;
  clear: both;
  padding: 20% 0;
  display: none;
  font-family: 'Microsoft Yahei';
  box-sizing: border-box;
  height: 100%;
}

div.choice a.choice {
  position: relative;
  display: block;
  width: 100%;
  left: auto;
  right: auto;
  margin-bottom: 1.5em;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  padding: 0.4em 2em;
  transition: all linear 0.2s;
  background-color: rgba(255,255,255, 0.7);
}

div.choice > a.choice:first-of-type {
  margin-top: 3em;
}

div.choice > p > b {
  text-align: center;
}

div.choice > p > a.choice {
  display: inline;
}

div.choice a.choice.active {
  background-color: #333333;
  color: #EBEBEB;
}

div.star > p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center !important;
}

div.star > p:last-child {
  box-sizing: border-box;
  margin: 0 !important;;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 18%;
}

.fade-out {
  transition: opacity 1s;
  opacity: 0;
}

.fade-in {
  transition: opacity 1s;
  opacity: 1;
}

.center {
  text-align: center !important;
}

.end-name {
  display: block;
  position: absolute;
  width: 60%;
  top: 10%;
  right: 0;
  padding: 0 0 0 0;
  color: rgba(255,255,255, 0.7);
  font-size: 11px;
  font-family: inherit;
}

.end-name > span {
  font-size: 12px;

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
