/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.row,
header,
footer {
  display: block;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  display: block;
  margin-right: 1em;
  margin-left: 1em;
  clear: both;
}

div.section {
  display: block;
  margin: 0;
  box-sizing: border-box;
  clear: both;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.section > img.bgimg {
  display: block;
  position: absolute;
  vertical-align: middle;
  z-index: -1;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #999999;
  overflow: hidden;
}

div.text,
div.result {
  display: block;
  clear: both;
  padding: 2em 1em;
  background-color: rgba(255,255,255, 0.5);
  box-shadow: 0 0 2em 1em rgba(255,255,255, 0.5);
}

div.section div.text > p,
div.section > p {
  margin: 0;
  margin-bottom: 1em;
}

div#step1 > .text {
  position: relative;
  top: 60%;
}

div#step2 > .text,
div#step2 > .result {
  position: relative;
  top: 40%;
}

form#info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

form#info > img {
  position: absolute;
  width: 120%;
  left: -10%;
}

form#info > div.container {
  position: absolute;
  top: 20%;
  right: 10%;  
}

form#info input[type="text"] {
  display: block;
  height: 2em;
  width: 5em;
  padding: 0.5em 1em;
  background-color: rgba(255,255,255, 0.1);
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  outline: none;
  font-size: 1em;
  color: #141414;
  line-height: 1em;
  vertical-align: middle;
}

form#info input[type="text"]:focus {
  border: 1px solid #999999;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
     -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
          box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

form#info input[type="text"]:-moz-placeholder {
  color: #333333;
}

form#info input[type="text"]::-moz-placeholder {
  color: #333333;
  opacity: 1;
}

form#info input[type="text"]:-ms-input-placeholder {
  color: #333333;
}

form#info input[type="text"]::-webkit-input-placeholder {
  color: #333333;
}


div#step2 {
  /*background-color: #EBEBEB;*/
}

div.section a.btn {
  position: relative;
  display: block;
  height: 1.5em;
  width: 4em;
  box-sizing: border-box;
  border-radius: 0.2em;
  border: none;
  border-bottom: 0.2em solid #76A7FA;
  background-color: #ADC3FF;
  color: #333333;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  -webkit-transition: all linear 0.2s;
     -moz-transition: all linear 0.2s;
       -o-transition: all linear 0.2s;
          transition: all linear 0.2s;
  cursor: pointer;
  overflow: hidden;
}

div.choice {
  text-align: center;
}

div.choice > a.choice {
  display: block;
  position: relative;
  left: auto;
  right: auto;
  box-sizing: border-box;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.5em;

  background-color: #BBBBBB;
}

div.choice > a.choice:active,
div.choice > a.choice:hover {
  background-color: #333333;
  color: #EBEBEB;
}

.fade-out {
  transition: opacity 1s;
  opacity: 0;
}

.fade-in {
  transition: opacity 1s;
  opacity: 1;
}

.center {
  text-align: center !important;
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
